In [1]:
import os
import pandas as pd
import alpaca_trade_api as tradeapi

In [2]:
# set Alpaca API key and secret
apca_api_key_id = os.getenv('APCA_API_KEY_ID')
apca_api_secret_key = os.getenv('APCA_API_SECRET_KEY')
# apca_api_key_id = ''
# apca_api_secret_key = ''

In [3]:
# create the Alpaca API object
alpaca = tradeapi.REST(
    apca_api_key_id,
    apca_api_secret_key,
    api_version='v2')

In [4]:
# Format start and end dates ISO format
end_date = pd.Timestamp('2019-05-01', tz='America/New_York').isoformat()
start_date = pd.Timestamp('2015-03-03', tz='America/New_York').isoformat()

# Set the tickers [Pfizer = PFE, Twitter = TWTR, Lockheed = LMT] 
tickers = ['PFE', 'TWTR', 'LMT']

# Set timeframe to "1Day" for Alpaca API
timeframe = "1D"

# Get current closing prices for SPY and AGG
df_tickers = alpaca.get_bars(
    tickers,
    timeframe,
    start = start_date,
    end = end_date
).df

In [5]:
# reorganize the DataFrame
# separate ticker data
PFE = df_tickers[df_tickers['symbol']=='PFE'].drop('symbol', axis=1)
TWTR = df_tickers[df_tickers['symbol']=='TWTR'].drop('symbol', axis=1)
LMT = df_tickers[df_tickers['symbol']=='LMT'].drop('symbol', axis=1)

# concatenate the ticker DataFrames
df_tickers = pd.concat([PFE, TWTR, LMT],axis=1, keys=['PFE','TWTR', 'LMT'])

df_tickers.head(10)

                             PFE                                              \
                            open    high    low  close    volume trade_count
timestamp
2015-12-01 05:00:00+00:00  33.00  33.730  32.80  33.62  49301003      169233
2015-12-02 05:00:00+00:00  33.71  33.830  32.79  32.90  31828652      124967
2015-12-03 05:00:00+00:00  32.89  33.000  32.36  32.39  47356913      170179
2015-12-04 05:00:00+00:00  32.53  32.890  32.41  32.80  31613799      107180
2015-12-07 05:00:00+00:00  32.68  32.880  32.45  32.66  21067116       91920
2015-12-08 05:00:00+00:00  32.32  32.740  32.29  32.53  25735024      107235
2015-12-09 05:00:00+00:00  32.39  32.645  32.12  32.29  39777025      132328
2015-12-10 05:00:00+00:00  32.43  32.720  32.24  32.36  52746848      165336
2015-12-11 05:00:00+00:00  32.10  32.230  31.97  32.06  40275420      134949
2015-12-14 05:00:00+00:00  32.00  32.210  31.84  32.18  38376449      149825

                                       TWTR                ...            \
                                vwap   open   high    low  ...    volume
timestamp                                                  ...
2015-12-01 05:00:00+00:00  33.373653  25.39  25.58  25.00  ...  14843967
2015-12-02 05:00:00+00:00  33.237319  25.23  25.72  25.17  ...  11845551
2015-12-03 05:00:00+00:00  32.607389  25.48  26.06  24.91  ...  23850709
2015-12-04 05:00:00+00:00  32.763970  25.77  25.85  25.01  ...  16828165
2015-12-07 05:00:00+00:00  32.621031  25.00  25.16  24.13  ...  16872129
2015-12-08 05:00:00+00:00  32.571324  24.00  25.10  23.54  ...  23621885
2015-12-09 05:00:00+00:00  32.323272  24.88  24.98  24.19  ...  14683738
2015-12-10 05:00:00+00:00  32.467095  24.34  26.25  24.34  ...  28323889
2015-12-11 05:00:00+00:00  32.063204  25.87  26.20  24.80  ...  23061361
2015-12-14 05:00:00+00:00  32.021285  24.59  24.94  23.70  ...  18108398

                                                     LMT                     \
                          trade_count       vwap    open     high       low
timestamp
2015-12-01 05:00:00+00:00       61428  25.297378  220.06  223.100  219.3654
2015-12-02 05:00:00+00:00       51209  25.449415  220.25  220.950  218.7800
2015-12-03 05:00:00+00:00       86464  25.616493  219.27  219.760  214.6900
2015-12-04 05:00:00+00:00       63114  25.249800  216.00  219.900  216.0000
2015-12-07 05:00:00+00:00       69167  24.477097  218.34  219.620  217.5450
2015-12-08 05:00:00+00:00       98057  24.446932  217.69  219.780  217.3000
2015-12-09 05:00:00+00:00       65184  24.450344  218.02  220.255  216.6100
2015-12-10 05:00:00+00:00      108543  25.791268  217.92  219.751  217.0000
2015-12-11 05:00:00+00:00       87838  25.356797  217.54  219.160  216.7000
2015-12-14 05:00:00+00:00       76336  24.423253  216.00  217.570  214.7200


                            close   volume trade_count        vwap
timestamp
2015-12-01 05:00:00+00:00  220.20  1267238       16645  220.498000
2015-12-02 05:00:00+00:00  218.94  1307371       17261  219.574305
2015-12-03 05:00:00+00:00  215.46  1776848       19616  216.211664
2015-12-04 05:00:00+00:00  218.39  1701751       19726  218.368433
2015-12-07 05:00:00+00:00  219.13  1537760       17732  218.661388
2015-12-08 05:00:00+00:00  218.81   844729       12102  218.647990
2015-12-09 05:00:00+00:00  217.54  1194981       15697  218.199160
2015-12-10 05:00:00+00:00  218.88  1119770       13779  218.636315
2015-12-11 05:00:00+00:00  217.20  1801936       18824  217.764221
2015-12-14 05:00:00+00:00  216.58  2026459       24240  216.163327

[10 rows x 21 columns]

In [6]:
df_closing_prices = pd.DataFrame()
# fetch closing prices

df_closing_prices["PFE"] = df_tickers["PFE"]["close"]
df_closing_prices["TWTR"] = df_tickers["TWTR"]["close"]
df_closing_prices["LMT"] = df_tickers["LMT"]["close"]

df_closing_prices.index = df_closing_prices.index.date
df_closing_prices.head()

              PFE   TWTR     LMT
2015-12-01  33.62  25.53  220.20
2015-12-02  32.90  25.40  218.94
2015-12-03  32.39  25.90  215.46
2015-12-04  32.80  25.02  218.39
2015-12-07  32.66  24.46  219.13

In [7]:
unstacked = df_closing_prices.unstack()
df_PFE = pd.DataFrame(df_closing_prices["PFE"])
df_PFE.to_csv('pfe_historical.csv')
df_TWTR = pd.DataFrame(df_closing_prices["TWTR"])
df_TWTR.to_csv('twtr_historical.csv')
df_LMT = pd.DataFrame(df_closing_prices["LMT"])
df_LMT.to_csv('lmt_historical.csv')